mixin achievementForm(achievement = {})
  form(action=`/achievements/${achievement._id || 'add'}` method="POST" class="card" enctype="multipart/form-data")
    .form-group
      label(for="name") Name
      input.form-control(type="text" name="name" value=achievement.name)
    .form-group
      label(for="description") Description
      textarea.form-control(name="description") #{achievement.description}
    .form-group
      label(for="points") Points
      input.form-control(type="number" name="points" value=achievement.points)
    .form-group
      label(for="image") Image
      input.form-control(type="file" name="image" id="form-image" accept="image/gif, image/png, image/jpeg")
    if achievement.image
      img(src=`/uploads/${achievement.image}` alt=achievement.name width=200)
    - const choices = ['development', 'qa', 'pm', 'sales']
    - const tags = achievement.tags || []
    .form-group
      each choice in choices
        label(for=choice)= choice
        input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
    if user.organizations.length && !achievement._id
      label(for=specific) Specific to one organization
      input(type="checkbox" onChange="if(this.checked){document.getElementById('organization-specific').disabled=false;}else{document.getElementById('organization-specific').disabled=true;}")
      fieldset(disabled id="organization-specific")
        .form-group
          label(for="organizations")
          select.form-control(name="organizations[]")
            each organization in user.organizations
              option(value=organization._id)= organization.name
        
    input.btn.btn-primary(type="submit" value="Save" class="button")
