mixin organizationForm(organization = {})
  form(action=`/organizations/${organization._id || 'add'}` method="POST" class="card" enctype="multipart/form-data")
    .form-group
      label(for="name") Name
      input.form-control(type="text" name="name" value=organization.name)
    .form-group
      label(for="description") Description
      textarea.form-control(name="description") #{organization.description}
    if joinUrl
      .form-group
        label Joining url (use this url to invite your users to join this awesome organization)
        a(href=joinUrl)= joinUrl
    .form-group
      label(for="image") Image
      input.form-control(type="file" name="image" id="form-image" accept="image/gif, image/png, image/jpeg")
      if organization.image
        img(src=`/uploads/${organization.image}` alt=organization.name width=200)
    if organization.achievements || organization.users
      .form-group
        h4 Achievements
          each achievement in organization.achievements
            a.btn.btn-default(href="#") #{achievement.name}
              span.badge #{achievement.points}
          if (!organization.achievements.length)
            p There is no achievements directly related to this organization.
      .form-group
        h4 Users
        each user in organization.users
          a.btn.btn-default(href="#") #{user.name}
    .form-group
      input.btn.btn-primary(type="submit" value="Save" class="button")
